{
    "group_name": [
        {"test_name": {
            "headless": true,
            "maximize": false,
            "large_log": false,
            "screenshots": false
            }
        }
    ],
    "group_name_2": [
        {"test_name": {
            "headless": true,
            "maximize": false,
            "large_log": false,
            "screenshots": false
            }
        }
    ]
}





