{
    "group_name": [
        {"module": "test_1",
        "args":{
            "headless": false,
            "maximize": true,
            "large_log": false,
            "screenshots": true
            }
        }
    ],
    "group_name_2": [
        {"module": "test_2",
        "args":{
            "headless": false,
            "maximize": true,
            "large_log": false,
            "screenshots": true
            }
        }
    ]
}





